name: Docker CI - 1080

on:
  push:
    paths:
      - Dockerfile
  pull_request:
    paths:
      - Dockerfile
  workflow_dispatch:

jobs:
   build:
    runs-on: ubuntu-latest
    name: Set up Docker
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          pull: false
          push: false
